html, body, #body-wrapper {
    height: 100%;
    padding: 0;
    margin: 0;
}

#body-wrapper {
    background: #2A2e2f;
    font-size: 20px;
}

#sidebar {
    display: none !important;
    bottom: 44px;
}

#sidebar ul {
    /* height = 0*/
}

#message-wrapper {
    bottom: 1px;
}

#message-wrapper input {
    padding-left: 15px;
    font-size: 22px;
    height: 47px;
}

#chat-content {
    font-size: 22px;
    bottom: 44px;
    right: 0;
}

#login {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#login-wrapper2 {
    padding: 15px;
    margin: 0px -40px 5px -40px;
}

#login form {
    margin: 0;
}

#login h3 {
    font-size: 25px;
}

.login_style form input {
    width: 100%;
    margin-bottom: 10px;
}

#form_login button {
    font-size: 18px;
    padding: 10px;
}

/*
@media all and (orientation:landscape) {
    #message-wrapper input {
        font-size: 15px;
        height: 35px;
    }

    #chat-content {
        font-size: 13px;
        bottom: 35px;
    }
}
*/