html, body, #body-wrapper {
    padding: 0;
    margin: 0;
}

#body-wrapper {
    background: #2A2e2f;
    font-size: 20px;
}

#sidebar {
    background-color: #282828;
    bottom: 44px;
}

#sidebar ul::-webkit-scrollbar-thumb {
    -webkit-box-shadow: #232323;
}

#message-wrapper input {
    background: #323232;
    padding-left: 15px;
    font-size: 16px;
    height: 45px;
}

#chat-content {
    font-size: 20px;
    bottom: 44px;
}

#login {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#login-wrapper2 {
    margin: 0px -40px 5px -40px;
    padding: 15px;
}

#login form {
    margin: 0;
}

#login h3 {
    font-size: 25px;
}

.login_style form input {
    margin-bottom: 10px;
    width: 100%;
}

#form_login button {
    font-size: 18px;
    padding: 10px;
}

.notice {
    background: #2A2A40 !important;
}

._error {
    background: #643232 !important;
}