@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
/* font-family: 'Roboto Slab', serif; */

.clearfix {
    overflow: auto;
}
* {
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
}
html, body:not(iframe) {
    height: 100%;
}
body:not(iframe) {
    background: -webkit-linear-gradient(90deg, #202223 10%, #394143 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #202223 10%, #394143 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #202223 10%, #394143 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #202223 10%, #394143 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #202223 10%, #394143 90%); /* W3C */
    font-size: 15px;
    color: #DDD;
    padding: 0;
    margin: 0;
}

#editor *, #editor-preview *:not(iframe) {
    font-family: "Monaco", "Menlo", "Ubuntu Mono", "Droid Sans Mono", "Consolas", monospace !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    letter-spacing: 0 !important;
}

#editor, #editor-preview:not(iframe) {
    position: absolute !important;
    top: 25px;
    right: 0;
    bottom: 0;
    left: 0;
}

#editor-preview:not(iframe) {
    top: 45px;
}

a:link, a:visited:not(iframe) {
    color: #FFE8A5;
}

.activeView, .activeCodeView:not(iframe) {
    display: block !important;
}

.topBar:not(iframe) {
    background-color:  rgba(0, 0, 0, 0.1);
    display: none;
    height: 40px;
    width: 100%;
}

.topBar .item:not(iframe) {
    background-color:  rgba(100, 100, 100, 0.1);
    display: inline-block;
    line-height: 40px;
    height: 100%;
}
.topBar .item a:not(iframe) {
    display: inline-block;
    padding: 0 15px;
    cursor: pointer;
}

#codeView:not(iframe) {
    background: -webkit-linear-gradient(90deg, #202223 10%, #394143 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #202223 10%, #394143 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #202223 10%, #394143 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #202223 10%, #394143 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #202223 10%, #394143 90%); /* W3C */
    position: absolute;
    display: none;
    right: 150px;
    z-index: 5;
    padding: 0;
    bottom: 0;
    margin: 0;
    top: 40px;
    left: 0;
}

#codeView .addNewSnippetView,
#codeView .snippetsListView,
#codeView #snippetPreviewView {
    display: none;
}

#codeView #codeSnippetField:not(iframe) {
    white-space: pre-wrap;
    min-height: 400px;
    max-width: 100%;
    width: 100%;
}

#codeView #snippetPreviewView {
    white-space: pre-line;
}

#sidebar:not(iframe) {
    background-color: rgba(0, 0, 0, 0.3);
    border-left: solid #0c7800 2px;
    position: absolute;
    display: none;
    bottom: 30px;
    width: 150px;
    top: 40px;
    right: 0;
}
#sidebar p:not(iframe) {
    text-align: center;
}
#sidebar ul:not(iframe) {
    overflow-x: hidden;
    overflow-y: scroll;
    list-style: none;
    padding: 0 25px;
    height: 90%;
}
#sidebar li {
    margin: 5px 0;
}
#sidebar ul::-webkit-scrollbar-track {
    background-color: #444;
    border-radius: 10px;
}
#sidebar ul::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
}
#sidebar ul::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #444;
    border-radius: 10px;
}


#message-wrapper:not(iframe) {
    position: absolute;
    display: none;
    width: 100%;
    bottom: 0;
}
#message-wrapper form:not(iframe) {
    position: relative;
    width: 100%;
}
#message-wrapper input:not(iframe) {
    background: rgba(50, 50, 50, 0.5);
    border: #969696 2px solid;
    height: 30px;
    color: #DDD;
    width: 100%;
}



#chat-content {
    list-style-type: none;
    overflow-y: hidden;
    position: absolute;
    font-size: 14px;
    bottom: 30px;
    right: 150px;
    padding: 0;
    margin: 0;
    top: 40px;
    left: 0;
}
#chat-content li {
    word-break: break-all;
    padding: 5px 10px;
}
#chat-content li pre {
    margin: 0;
}
#chat-content li:nth-child(odd) {
    background: rgba(100, 100, 100, 0.1);
}



#login:not(iframe) {
    transform: translateX(-50%) translateY(-50%);
    font-family: NotoSerif,sans-serif;
    border-bottom: 2px solid #DDD;
    position: absolute;
    left: 50%;
    top: 50%;
}
#login-wrapper2 > div:not(iframe) {
    position: relative;
}
#login-wrapper2:not(iframe) {
    background-color: rgba(50, 55, 60, 0.95);
    border-bottom: solid 3px #DDD;
    border-top: solid 3px #DDD;
    padding: 20px 0 0 0;
    margin: 0 0 5px 0;
}
#login form:not(iframe) {
    margin: 0 0 25px;
    padding: 15px;
}
#login h3:not(iframe) {
    border-bottom: solid 2px #DDD;
    text-align: right;
    margin: 5px 0;
    color: #DDD;

}
.login_style form input {
    transition: box-shadow 0.3s, border 0.3s;
    background-color: transparent;
    font-family: sans-serif;
    border: solid 1px #999;
    border-radius: 0;
    box-shadow: none;
    font-size: 18px;
    display: block;
    padding: 10px;
    margin: 10px 0;
    width: 300px;
    color: #DDD;
}
.login_style form input:focus{
    box-shadow: 0 0 5px 1px #969696;
    border: solid 1px #707070;
    outline: none;

}
#form_login button {
    font-family: NotoSerif, sans-serif;
    background-color: rgba(100, 100, 100, 0.3);
    padding: 10px 20px;
    font-weight: 600;
    cursor: pointer;
    margin: 10px 0;
    color: #DDD;
    width: 100%;
}
#form_login button:hover {
    background-color: transparent;
}


#chat-content::-webkit-scrollbar-track {
    background-color: #444;
    border-radius: 10px;
}

#chat-content::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
}

#chat-content::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #444;
    border-radius: 10px;
}

.arrow:not(iframe) {
    color: yellow;
}

.notice:not(iframe) {
    background: rgba(50, 50, 100, 0.3) !important;
}

.Bot:not(iframe) {
    color: #ffad33;
}

.server:not(iframe) {
    color: #FF7F7F;
}

.superadmin:not(iframe) {
    background: rgba(255, 224, 0, 0.1);
    color: #F3C885;
}

.admin:not(iframe) {
    background: rgba(255, 0, 0, 0.1);
    color: #BECCFF;
}

.roomleader:not(iframe) {
    color: #E3FFDC;
}

._error:not(iframe) {
    background: rgba(100, 50, 50, 0.3) !important;
}

.username:not(iframe) {
    color: #329790;
}

.server, .notice:not(iframe) {
    white-space: pre-line;
}